.intro {
  width: 100%;
}
.intro--image {
  width: 100%;
  height: auto;
}
.intro--title {
  background-color: #FF0000;
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro--title h2 {
  font-size: 4rem;
  color: white;
}

.competition {
  width: 100%;
}
.competition__paragraph {
  text-align: center;
  margin: 2.5rem 0;
  font-size: 1.5rem;
}
.competition__statistic {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2.5rem;
}
.competition__statistic_item {
  width: 33%;
  text-transform: uppercase;
  text-align: center;
}
.competition__statistic_item h2 {
  font-size: 6rem;
  margin-bottom: 1rem;
}
.competition__statistic_item h4 {
  font-size: 1.5rem;
}
.competition__info {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 4px solid #ff0000;
  background: url("/img/stadium.png") no-repeat right bottom/contain;
}
.competition__info--participants {
  width: 60%;
  height: 100%;
  justify-self: end;
}
.competition__info--participants h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}
.competition__info--participants__lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin-left: auto;
}
.competition__info--participants__lists ul {
  width: 33%;
  margin-bottom: 1rem;
}
.competition__info--place {
  margin-left: auto;
  width: 40%;
  height: 59vh;
  background: url("/img/red-vector-cup.svg") no-repeat center top/contain;
  padding-top: 1rem;
  padding-left: 1.5rem;
}
.competition__info--place-item {
  width: 100%;
}
.competition__info--place-item h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: #ff0000;
  margin-bottom: 0.7rem;
}
.competition__info--place-item p {
  margin-bottom: 0.7rem;
}
.competition__info--place-item a {
  color: black;
}

.teams {
  width: 100%;
  padding: 3rem;
}
.teams--title {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.teams--lists ul {
  margin-bottom: 1rem;
}
.teams--lists ul li {
  margin-left: 40px;
}
.teams--lists ul li:first-child {
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  margin-left: 0;
  list-style-type: none;
}

.program {
  width: 100%;
  padding-left: 3rem;
  padding-bottom: 3rem;
}
.program__title {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.program__list {
  margin-bottom: 1rem;
}
.program__list li {
  margin-left: 40px;
}
.program__list li:first-child {
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  margin-left: 0;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .intro--title {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .intro--title h2 {
    margin-top: 1rem;
  }
  .competition__info--participants__lists ul {
    width: auto;
  }
  .competition__info--participants__lists ul:nth-child(odd) {
    margin-right: 3rem;
  }
  .competition__info--place {
    height: 40vh;
  }
}
@media screen and (max-width: 678px) {
  .intro--title img {
    width: 80%;
  }
  .intro--title h2 {
    font-size: 3rem;
  }
  .competition__statistic_item h2 {
    font-size: 4rem;
  }
  .competition__info {
    background: none;
    flex-direction: column;
  }
  .competition__info--participants {
    width: 100%;
    height: auto;
  }
  .competition__info--participants__lists {
    max-width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 2rem;
  }
  .competition__info--place {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 2rem;
    background: url("/img/red-vector-cup.svg") no-repeat center top/cover;
  }
}

/*# sourceMappingURL=cup-benelux.css.map */
