.footer {
  background-color: #11111b;
  padding-bottom: 50px;
  padding-top: 20px;
  max-width: 1200px;
  margin: auto;
  width: 100%;
 &-wrap {
   color: white;
   padding: 20px 10px;
   background-color: #11111b;
   transform: scale(1.05);
   max-width: 1200px;
   margin: auto;
   display: flex;
   width: 100%;
   justify-content: space-between;
   position: relative;
   &__items {
     display: flex;
     &--item {
       h3 {
         color: white;
         font-size: 18px;
         text-transform: uppercase;
         width: 200px;
         margin-bottom: 10px;
         padding: 5px;
       }
       &:not(:last-child) {
         margin-right: 20px;
       }
       &.logo {
         img {
           max-height: 70px;
         }
         p {
           position: absolute;
           left: 20px;
           bottom: 0;
         }
       }
       &-list {
         list-style: none;
         &_item {
           &-link {
             color: white;
             text-decoration: none;
             &:hover {
               opacity: 0.8;
             }
           }
         }
       }
     }
   }
 }
}

@media screen and (max-width: 992px) {
  .footer {
    flex-flow: column-reverse;
    align-items: center;

    &-wrap {
      transform: scale(1);
      &__items {
        flex-wrap: wrap;
        justify-content: center;

        &--item {
          margin: 20px 0;
        &.logo {
          margin-left: 20px;
        }
        }
      }
    }
  }
}

@media screen and (max-width: 488px) {
  .footer-wrap {
    flex-flow: column-reverse;
    &__items {
      display: block;
      width: 100%;

      &--item, &--item:not(:last-child), &--item:last-child {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
        &.logo {
          text-align: start;
        }
        h3 {
          width: 100%;
        }
      }
    }
  }
}