.goals {
  background-color: white;
  padding: 74px 0;
  &__title {
    font-size: 85px;
    line-height: 103px;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-left: 10px;
  }
  &-wrap {
    position: relative;
    width: 100%;
    left: -30px;
    display: flex;
    img {
      height: 652px;
      width: auto;
      margin-right: 74px;
    }
    &--list {
      margin-bottom: 80px;
      margin-right: 40px;
      &-term {
        font-size: 42px;
        line-height: 51px;
        margin-bottom: 10px;
        font-weight: 700;
      }
      &-desc {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 30px;
      }
    }
  }
}




@media screen and (max-width: 992px) {
  .goals__wrapper--image {
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .goals {
    &__wrapper {
      display: block;
      &--image {
        h1 {
          align-self: center;
          transform: rotate(0);
        }
        img {
          display: none;
        }
      }
    }

    &__overview {
      height: 80vh;
    }
  }
}

@media screen and (max-width: 480px) {
  .goals__overview {
    height: 60vh;
    &--item {
      font-size: 28px;
      align-self: start !important;
      justify-self: start !important;
    }
  }
}