.header {
  background-color: #11111b;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    &-img {
      margin: 3.5rem 0 2.5rem 0;
    }
  }
  &__nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &--list {
      display: flex;
      height: 100%;
      width: 100%;
      list-style: none;
      &--item {
        display: flex;
        margin-left: 1.2rem;
        align-items: center;
        cursor: pointer;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-left: auto;
          margin-right: 10px;
          .header__nav--list--item_link {
            height: fit-content;
            align-self: center;
            font-size: 1.1rem;
            padding: 2px 5px;
            border: 1px solid red;
            &:hover {
              opacity: 0.9;
            }
          }
        }
        &:hover {
          &:not(:last-child) {
            .header__nav--list--item_link {
              color: #ee342c;
            }
          }
        }

        &_link {
          font-size: 1rem;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          display: flex;
          padding: 7px;
          height: 75px;
          align-items: center;

          &.active {
            color: #ee342c;
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }

  &__burger {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .header {
    &__nav {
      padding: 10px;
      &--list {
        display: none;
      }
    }
  }
}

