.header {
  background-color: #11111b;
  height: 83px;
  display: flex;
  align-items: center;
  &__nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &--logo {
      height: 35px;
      margin-left: 0.5rem;
    }

    &--list {
      display: flex;
      height: 100%;
      list-style: none;
      &--item {
        display: flex;
        margin-left: 1.2rem;
        align-items: center;
        cursor: pointer;
        &:last-child {
          .header__nav--list--item_link {
            height: fit-content;
            align-self: center;
            background-color: #3D3D3F;
            padding: 5px 20px;
            border-radius: 2px;
            border: none;
            &:hover {
              opacity: 0.9;
            }
          }
        }
        &:hover {
          &:not(:last-child) {
            .header__nav--list--item_link {
              color: #ee342c;
            }
          }
        }

        &_link {
          font-size: 1.5rem;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          display: flex;
          padding: 7px;
          height: 75px;
          align-items: center;

          &.active {
            color: #ee342c;
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }

  &__burger {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .header {
    &__nav {
      &--list {
        display: none;
      }
    }
    &__burger {
      display: block;
      cursor: pointer;
      margin-right: 1.5rem;
    }
  }
}

