.slider {
  height: 90vh;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  &__items {
    height: 100%;

    &--item {
      height: 100%;
      display: none;

      &_link {
        text-decoration: none;
      }

      &_image {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-position: center;
        background-size: cover;
        animation: zoom 1s linear forwards;
      }

      &.active {
        display: flex;
      }

      &_caption {
        position: relative;
        max-width: 879px;
        z-index: 10;
        margin: 0 auto;
        top: 350px;
        flex-grow: 1;
        padding: 15px 100px;

        &-text {
          h1 {
            margin: 0;
            font-size: 50px;
            animation: text 1s ease forwards;
            display: inline;
            background-color: red;
            color: gold;
            padding: 10px;
            border-radius: 10px;
          }

          p {
            margin: 20px 0 0;
            font-size: 20px;
            background-color: #11111b;
            padding: 5px;
            border-radius: 4px;
            color: white;
            max-width: 300px;
            animation: text 1s ease forwards;
            animation-delay: .5s;
            opacity: 0;
          }
        }
      }
    }
  }

  &__controls {

    .prev, .next {
      position: absolute;
      height: 40px;
      width: 40px;
      background-color: #11111b;
      border-radius: 50%;
      z-index: 11;
      top: 50%;
      margin-top: -20px;
      color: #ffffff;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      cursor: pointer;
      transition: background-color .5s ease;
    }

    &:hover {
      background-color: #ee342c;
    }

    .prev {
      left: 30px;
    }

    .next {
      right: 30px;
    }
  }

  &__info {
    position: absolute;
    width: 280px;
    padding: 15px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background-color: #11111b;

    &--meter {
      height: 5px;
      background-color: #ffffff;
      width: 100%;

      &_inner {
        width: 0px;
        background-color: #ee342c;
        height: 5px;
        transition: all .8s linear;
      }
    }
  }
}


@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes text {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}


@keyframes progress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}


/*responsive*/

@media(max-width: 1024px) {
  .slider {
    height: 80vh;

    &__items {
      &--item {
        &_caption {
          padding: 15px 100px;
          top: 300px
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .slider {
    height: 70vh;

    &__controls {
      .prev {
        left: 10px;
      }

      .next {
        right: 10px;
      }
    }

    &__items {
      &--item {
        &_caption {
          padding: 15px 70px;

          &-text {
            h1 {
              font-size: 30px;
            }

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .slider {
    height: 60vh;

    &__items {
      &--item {
        &_caption {
          padding: 15px 70px;
          top: 200px;

          &-text {
            h1 {
              font-size: 20px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}