<footer class="footer">
        <div class="footer-wrap">
            <div class="footer-wrap__items--item logo">
                <%  if(theme === 'light') { %>
                    <img src="/img/footer-logo.svg" alt="logo" />
                <%} else {%>
                    <img src="/img/footer-logo.svg" alt="logo" />
                <%}%>
                <p>&copy; 2023 Ace Battle Association</p>
            </div>
            <div class="footer-wrap__items">
                <div class="footer-wrap__items--item">
                    <h3>Contact</h3>
                    <p>+32 (047) 603 24 19</p>
                </div>
                <div class="footer-wrap__items--item">
                    <h3>Send an email</h3>
                    <p>apodnes@gmail.com</p>
                </div>
                <div class="footer-wrap__items--item">
                    <h3>Follow</h3>
                    <ul class="footer-wrap__items--item-list">
                        <li class="footer-wrap__items--item-list_item"><a class="footer-wrap__items--item-list_item-link" href="#"> Instagram </a></li>
                        <li class="footer-wrap__items--item-list_item"><a class="footer-wrap__items--item-list_item-link" href="#"> Youtube </a></li>
                        <li class="footer-wrap__items--item-list_item"><a class="footer-wrap__items--item-list_item-link" href="#"> Facebook </a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer>