<!-- @format -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle %></title>
  <link rel="icon" href="./img/favicon-32x32.png" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <%  if(theme === 'light') { %>
    <link rel="stylesheet" href="/css/light.css" />
  <%}%>


