<header class="header">
    <nav class="header__nav">
        <img  class='header__nav--logo' src="/img/main-logo.svg" alt="logo" />
        <ul class="header__nav--list">
            <li class="header__nav--list--item"><a class="header__nav--list--item_link <%= path === '/aba-structure' ? 'active' : '' %>" href="/aba-structure">ABA STRUCTURE</a></li>
            <li class="header__nav--list--item"><a class="header__nav--list--item_link <%= path === '/about' ? 'active' : '' %>" href="/about">About</a></li>
            <li class="header__nav--list--item"><a class="header__nav--list--item_link <%= path === '/rules' ? 'active' : '' %>" href="/rules">Rules</a></li>
            <li class="header__nav--list--item">
                <a class="header__nav--list--item_link <%= path === '/competitions' ? 'active' : '' %>" href="/competitions">Competitions</a>
            </li>
            <li class="header__nav--list--item"><a class="header__nav--list--item_link" href="#">EN</a></li>
        </ul>
        <div class="header__burger">
            <svg viewBox="0 0 384 384">
                <rect x="0" y="277.333" width="384" height="42.667" fill='gold'></rect>
                <rect x="0" y="170.667" width="384" height="42.667" fill='gold'></rect>
                <rect x="0" y="64" width="384" height="42.667" fill='gold'></rect>
            </svg>
        </div>
    </nav>
</header>
<div class="full-bg"></div>