@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

main {
  background-color: white;
}

.about {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.about__preface {
  display: flex;
  padding: 20px;
  justify-content: end;
  align-items: center;
  color: gold;
  background-color: #ee342c;
}

.about__preface h1 {
  font-size: 48px;
}

.about__items .item {
  position: relative;
  display: none;
  padding: 20px;
  padding-bottom: 80px;
}

.about__items .item.left {
  animation: toggleLeft 0.5s;
}

.about__items .item.center {
  animation: toggleCenter 0.5s;
}

.about__items .item.right {
  animation: toggleRight 0.5s;
}

.about__items .item.active {
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

.about__items .item .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__items .item .header h1 {
  font-size: 54px;
}

.about__items .item .header a {
  color: #ee342c;
}

.about__items .item .content {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.about__items .item .content p {
  padding: 10px;
}

.about__items .item .content img {
  max-width: 500px;
  height: auto;
  object-fit: cover;
  margin: 20px 10px;
}

.about__previews {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 800px;
}

.about__previews .wrapper {
  display: flex;
  justify-content: space-around;
}

.about__previews .wrapper .preview {
  background: url('../../img/info.png') no-repeat center center;
  background-size: cover;
  height: 140px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  border-radius: 10px;
}

.about__previews .wrapper .preview:active {
  transform: scale(0.95);
  transition: transform 0.2s;
}

.about__previews .wrapper .preview h3 {
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  color: gold;
  background-color: #ee342c;
}

@keyframes toggleLeft {
  0% {
    transform: translate(-50%, 50%) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes toggleCenter {
  0% {
    transform: translate(0, 50%) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes toggleRight {
  0% {
    transform: translate(50%, 50%) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

@media (max-width: 992px) {
  .about__items .item .content {
    display: block;
  }

  .about__items .item .content img {
    float: right;
    object-fit: cover;
    max-width: 400px;
    max-height: 400px;
  }
}

@media (max-width: 768px) {
  .about__items .item .content {
    align-items: initial;
  }

  .about__items .item .content img {
    float: right;
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
  }

  .about__previews {
    max-width: 100%;
  }

  .about__previews .wrapper {
    justify-content: space-between;
    margin: 0 20px;
  }

  .about__previews .wrapper .preview {
    width: 150px;
    height: 100px;
  }

  .about__previews .wrapper .preview h3 {
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  .about__items .item .content {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
  }

  .about__items .item .content img {
    float: none;
    object-fit: cover;
    max-width: 100vw;
  }

  .about__previews .wrapper .preview {
    width: 120px;
    height: 80px;
  }

  .about__previews .wrapper .preview h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }
}