@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 16px;
}

.competitions {
  background-color: #11111b;
  padding-bottom: 3rem;
}

.competitions h1 {
  text-align: end;
  font-size: 3rem;
  padding: 1.2rem;
  margin-bottom: 3rem;
  background-color: #ee342c;
  color: gold;
}

.competitions__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.competitions__items .item {
  max-width: 38rem;
  background-color: azure;
  padding: 0.7rem;
  border-radius: 0.7rem;
}

.competitions__items .item img {
  width: 100%;
  height: 19rem;
  object-fit: cover;
}

.competitions__items .item .content h1 {
  font-size: 2rem;
  margin: 0;
}

.competitions__items .item .content p {
  font-size: 1.3rem;
  margin-top: 0.6rem;
}

.competitions__items .item .content .date {
  margin: 0.6rem;
}

.competitions__items .item .content .date p {
  font-weight: 700;
  text-align: end;
}

.competitions__items .item .content .date span {
  font-size: 1rem;
}