.competitions {
  background-color: #fff;
}

.competitions .item {
  box-shadow: 0px 0px 5px 5px rgb(0, 0, 0, 0.1);
}

.footer {
  background-color: #fff;
  color: black
}

.footer .wrapper .items .social li a {
  color: black;
}