.footer {
  background-color: #11111b;
  color: white;
  padding: 20px;
  max-width: 1280px;
  margin: auto;
  border-left: 2px solid #ee342c;
  border-right: 2px solid #ee342c;
}

.footer .wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer .wrapper .items {
  display: flex;
}

.footer .wrapper .item:not(:last-child) {
  margin-right: 30px;
}

/*.footer .wrapper .item:first-child {*/
/*  margin-right: 50px;*/
/*}*/

.footer .wrapper .item h3 {
  background-color: #ee342c;
  color: gold;
  width: 200px;
  margin-bottom: 10px;
  padding: 5px;
}

.footer .wrapper img {
  max-height: 70px;
}

.footer .wrapper .social {
  list-style: none;
}


.footer .wrapper .items .social li a {
  color: white;
  text-decoration: none;
}

.footer .wrapper .items .social li a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 992px) {
  .footer .wrapper {
    flex-flow: column-reverse;
    align-items: center;
  }

    .footer .wrapper .items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer .wrapper .item {
        margin: 20px 0;
    }
}

@media screen and (max-width: 488px) {
  .footer .wrapper .items {
    display: block;
    width: 100%;
  }

    .footer .wrapper .item, .footer .wrapper .item:last-child, .footer .wrapper .item:not(:last-child) {
        margin-right: 0;
      margin-bottom: 20px;
    }

    .footer .wrapper .item h3 {
        width: 100%;
    }
}